

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="form-container">
      <h3>Reactive Form</h3>
      <form [formGroup]="loginform" (ngSubmit)="loginUser()">
        <div> 
          <label for="">Name</label><br>
          <input type="text" placeholder="Enter your Name" formControlName="user">
          <br>
          <span class="error-message" *ngIf="user && user.invalid && user.touched">This is not valid</span>
        </div>
        <div>
          <label for="">Password</label><br>
          <input type="password" placeholder="Enter your password" formControlName="password">
          <br>
          <span class="error-message" *ngIf="password && password.invalid && password.touched">This is not valid</span>
        </div>
        <div class="btn">
          <button [disabled]="loginform.invalid">Login</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>
